.card {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.error {
  color: red;
}

#sign-up_button {
  background-color: rgb(111, 17, 17);
  border: gray;
  color: white;
  text-align: center;
}

/*  */
.melon-card {
  width: 25%;
  margin: 0.5rem;
}

.melon-card h5 {
  font-size: 1rem;
}

#shopping .filters {
  min-width: 20%;
}

.loading-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 300px;
}

.loading-box img {
  display: block;
  max-height: 100px;
  margin: auto;
  animation: pulse 1s infinite;
}

.loading-box div {
  font-size: 20px;
  font-family: cursive;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}

.card-img-top {
  height: 250px;
}
