.card {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.error {
  color: red;
}

#sign-up_button {
  background-color: rgb(111, 17, 17);
  border: gray;
  color: white;
  text-align: center;
}
