* {
  box-sizing: border-box;
}

.btn {
  font-family: "montserrat", sans-serif;
  font-weight: light;
}

.btn:focus,
.btn:active {
  outline: none;
}

body {
  font-family: "poppins", sans-serif;
  /* font-style: ; */
  font-weight: light;
  background: #e9e3e3;
  margin: 0;
}

.footer {
  background-color: black;
  color: white;
  display: inline-block;
  /* position: absolute; */
  bottom: 0;
  align-items: end;
  text-align: end;
  vertical-align: middle;
  padding-right: 20px;
  height: 60px;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  margin-top: 50px
}



.no-spacing {
  margin-bottom: 0;
}

.spacing {
  margin-top: 0;
  margin-bottom: 10px;
}

.content {
  font-family: "poppins", sans-serif;
  font-weight: 200;
  /* width: 80%; */
}

.header {
  font-family: "montserrat", sans-serif;
  /* font-style: ; */
  width: 100%;
  height: auto;
  font-weight: 300;
  padding: 20px;
  text-align: center;
}

.account-page-header {
  font-family: "montserrat", sans-serif;
  /* font-style: ; */
  width: 100%;
  height: auto;
  font-weight: 300;
  padding: 20px;
  text-align: center;
  background-color: rgb(179, 100, 100);
  color: white;
}

.add-header {
  font-family: "montserrat", sans-serif;
  width: 100%;
  font-size: 24px;
  height: auto;
  font-weight: 300;
  padding: 20px;
  text-align: center;
  margin: 0;
}

.modal-footer {
  border: none;
  display: inline-block;
  padding: 0;
}

.add-act-modal-footer {
  border: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.edit-act-modal-footer {
  border: none;
  display: inline-block;
  padding-left: 5px;
  margin: 0;
}

.signup-modal-footer {
  display: inline-block;
  padding: 10;
  text-align: center;
  margin-left: 100px;
}

.profile-modal-footer {
  display: inline-block;
  padding: 10;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  font-weight: 300;
}



.btn-primary {
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  margin: 5px;
}

.btn-primary:hover {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
  border-style: none;
  margin: 5px;
}


.btn-secondary {
  color: rgb(9, 9, 9);
  background-color: rgb(127, 124, 124);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  width: 75px
}

.btn-secondary:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(144, 143, 143);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
}

.edit-profile-button {
  color: rgb(49, 48, 48);
  margin-top: 15px;
  margin-bottom: 5px;
  width: 75px;
  height: 25px;
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0;
  background-color: rgb(244, 243, 243);
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
}

.edit-profile-button:hover {
  color: black;
  width: 75px;
  height: 25px;
  font-size: 11px;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  background-color: rgb(200, 200, 200);
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
}

.save-profile-button {
  color: white;
  margin-top: 30px;
  width: 75px;
  height: 25px;
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0;
  background-color: rgb(244, 243, 243);
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
}

.save-profile-button:hover {
  color: white;
  width: 75px;
  height: 25px;
  font-size: 11px;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  background-color: rgb(200, 200, 200);
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
}


.profile-details {
  width: 100%;
  padding: 20px;
  padding-bottom: 5px
}

/* .edit-activity-button {
  width: 80px;
  height: 35px;
  margin: 10px;
  font-size: 11px;
  line-height: 1.1;
  white-space: wrap;
  text-align: center;
  display: inline-block;
  padding: 0;
  background-color: rgb(248, 234, 234);
  color: black;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
} */
.edit-activity-button {
  width: 80px;
  height: 35px;
  color: rgb(253, 253, 253);
  background-color: rgb(124, 33, 33);
  font-weight: 300;
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  margin: 5px;
}

.edit-activity-button:hover {
  width: 80px;
  height: 35px;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
  border-style: none;
  margin: 5px;
}

.delete-activity-button {
  color: black;
  background-color: rgb(217, 214, 214);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  margin: 5px;
}

.delete-activity-button:hover {
  color: black;
  background-color: rgb(207, 200, 200);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  margin: 5px;
  
}

.edit-period-button {
  width: 80px;
  height: 35px;
  color: rgb(253, 253, 253);
  background-color: rgb(124, 33, 33);
  font-weight: 300;
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  margin: 5px;
}

.edit-period-button:hover {
  width: 80px;
  height: 35px;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
  border-style: none;
  margin: 5px;
}

.delete-period-button {
  color: black;
  background-color: rgb(217, 214, 214);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  margin: 5px;
}

.delete-period-button:hover {
  color: black;
  background-color: rgb(207, 200, 200);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  margin: 5px;
  
}

.cancel-delete-button {
    color: black;
    background-color: rgb(217, 214, 214);
    border-style: none;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    margin: 5px;
}

.cancel-delete-button:hover {
  color: black;
  background-color: rgb(207, 200, 200);
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  margin: 5px;
}

.red-letter {
  color: rgb(142, 36, 36);
  font-size: 100%;
}

.add-pad {
  padding-left: 20px;
}

.my-navbar {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: flex;
  /* width: 100%; */
  align-items: flex-end;
  height: 80px;

  background-color: black;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
  color: white;
}

.nav-link:hover, .nav-link:focus {

  color: white;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  padding-top: 0px;
  color: white;
}

.navbar-expand-md .navbar-collapse {
  height: 100%;
  margin: 0;
}

.nav-item {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
  color: white;
}

.nav-item:hover {
  color: #494848;
  font-weight: 500;
}

.stat {
  font-family: "poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 0;
  font-weight: light;
  text-align: center;
  height: auto;
  width: 100%;
}

.stat-value {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  padding-top: 5px;
  line-height: 1;
}

.stat-value2 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.card {
  /* height: 100%;
  width: 100%; */
  border-radius: 20px;
  box-shadow: 0 1px 8px rgba(153, 150, 150, 0.25);
}

/* .profile-icon {
  position: absolute;
  right: 20px;
} */

.profile-pic {
  height: 100px;
}

.navbar-collapse {
  position: relative;
}

.position-navbar {
  position: absolute;
  right: 20px;
  padding-bottom: 15px;
}

.top-adjust {
  padding-top: 40px;
}

.calendar-card {
  padding: 10px;
  padding-bottom: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  /* border-radius: 25px; */
  display: flex;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(159, 158, 158, 0.25);
  background: white;
}

#test-chart {
  max-height: 380px;
}

.chart-card {
  padding: 10px;
  padding-bottom: 10px;
  margin-right: 15px;
  margin-bottom: 0;
  /* border-radius: 25px; */
  display: flex;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(159, 158, 158, 0.25);
  background: white;
}

.profile-card {
  /* width: 40%;
  height: 120%; */
  font-family: "poppins", sans-serif;
  font-weight: 200;
  margin-left: 15px;
  margin-bottom: 20px;
  /* display: inline-block; */
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(159, 158, 158, 0.25);
  background: white;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
}

.stat-card {
  /* width: 40%; */
  height: 140px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  margin-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  /* display: inline-block; */
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(159, 158, 158, 0.25);
  background: white;
  text-align: center;
  vertical-align: middle;
}

.plus-card {
  /* width: 40%; */
  height: 155px;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  /* padding: 10px; */
  margin-left: 15px;
  /* margin-bottom: 20px; */
  margin-right: 0;
  /* padding-top: 43px; */
  /* padding-bottom: 20px; */
  display: flex;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(159, 158, 158, 0.25);
  background: white;
  text-align: center;
  vertical-align: middle;
}
.color {
  color: rgb(255, 99, 132);
  background-color: rgba(255, 99, 132, 0.5)"
}

.custom-file-upload {
  display: inline-block;
  position: relative;
  padding: 6px;
  /* margin-bottom: 25px; */
  width: 100%;
}

#photo-upload {
  /* color: transparent; */
  margin-bottom: 15px;
  font-size: 10px
}

.upload-button {
  width: 100%;
  font-family: "poppins", sans-serif;
  font-size: 13px;
  white-space: normal;
  margin: 8px;
}


/* .img-upload:before {
  content: "\f093";
  font-size: 20px; */
  /* position: absolute; */
  /* padding-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; */
  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #fff; */
/* } */

.img-wrap {
  margin: auto
}

.profile-img {
  width: 70%;
  height: 70%;
}

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.login-field {
  width: 100%;
  display: inline-block;
  padding-top: 10px;
}

.signup-field {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}

.input {
  width: 80px;
  /* margin-left: 10px; */
  /* padding-left: 3px; */
}

.login-input {
  width: 60%;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  /* margin-left: 10px; */
}

.sign-up {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  font-size: 16px;
}

.signup-form {
  width: 60%;
  align-items: center;
}

.signup-input {
  width: 100%;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.bio {
  height: 80px;
}


/* .add-period-container {
  background-color: rgba(255, 255, 255, 0.5);
} */

.add-period {
  width: 460px;
  height: 570px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  display: block;
  top: 14%;
  right: 2%;
}

.add-activity {
  width: 460px;
  height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  display: block;
  top: 14%;
  right: 2%;
}

.activity-details-container {
  width: 380px;
  height: 440px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: start;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  display: flex;
  top: 14%;
  right: 6%;
}


.activity-details-form {
  width: 100%;
  padding-left: 35px;
  text-align: start;
}

.activity-details {
  width: 100%;
}

.activity-detail {
  width: 90%;
  margin-bottom: 15px;
}

.activity-detail:first-of-type {
  width: 90%;
  padding-top: 15px
}

.activity-buttons-container {
  /* width: 100%; */
  margin-left: 68px;
  margin-top: 10px
}

.edit-activity-buttons-container {
  margin: auto;
  text-align: center;
  margin-right: 24px;
}

.edit-profile-buttons-container {
  margin: auto;
  text-align: center;
}

.bold {
  font-weight: 500
}

.edit-activity {
  width: 460px;
  height: 560px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  display: block;
  top: 14%;
  right: 2%;
}

.sx-list-item {
  font-size: 14px;

}

.sx-item-in-table {
  list-style: none;
  /* line-height: 1; */
  /* line-height: 1.4; */
}

.sx-cell {
  padding: 0;
  line-height: 1.4;
}

.delete-warning {
  margin-top: 60px;
  box-shadow: #fff;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 1.2;
  text-align: center;
}

.period-details-container {
  width: 330px;
  height: 360px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: start;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  display: flex;
  top: 14%;
  right: 6%;
}


.period-details-form {
  width: 100%;
  padding-left: 35px;
  text-align: start;
}

.period-details {
  width: 100%;
}

.period-detail {
  width: 90%;
  margin-bottom: 15px;
}

.period-detail:first-of-type {
  width: 90%;
  padding-top: 20px
}

.period-buttons-container {
  /* width: 100%; */
  margin-left: 29px;
  margin-top: 10px
}

.edit-period-buttons-container {
  margin: auto;
  text-align: center;
  margin-right: 46px;
  margin-top: 8px;
}

.bold {
  font-weight: 500
}

.edit-period {
  width: 460px;
  height: 560px;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
  display: block;
  top: 14%;
  right: 2%;
}


.top-adjust {
  margin-bottom: 50px;
}

.checkbox {
  vertical-align: middle;
  margin-left: 20px
}

.add-form {
  width: 90%;
  text-align: start;
  padding-left: 35px;
}

.add-input {
  width: 60%;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.add-field {
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  width: 100%;
  margin-top: 20px;
  margin-bottom: -2px;
  font-size: 16px;
}

.edit-field {
  display: inline-block;
  font-family: "poppins", sans-serif;
  width: 100%;
  /* margin-top: 15px; */
  margin-bottom: 8px;
  font-size: 16px;
}

.edit-label {
  display: inline-block;
  font-family: "poppins", sans-serif;
  width: 100%;
  text-align: start;
  font-weight: 500;
  /* margin-top: 15px; */
  font-size: 13px;
}

.edit-input {
  display: block;
  width: 80%;
  margin-top: -4px;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.edit-profile-input {
  display: block;
  width: 100%;
  margin-top: -4px;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.edit-input-checkbox {
  display: inline;
  vertical-align: middle;
  width: 80%;
  margin-top: -4px;
  padding-left: 7px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;

}

.sx-checkbox {
  vertical-align: middle;
}

.sx-list {
  padding-left: 18px;
  line-height: 1.4;
}

.bio {
  height: 80px;
  /* margin-top: 18px; */
}

.notes {
  height: 70px;
  width: 80%;
  /* margin-top: -24px; */
  margin-bottom: 15px;
}

.profile-container {
  width: 100%;
  padding: 15
}

.profile-form {
  padding: 10px
}

.error {
  color: rgb(157, 32, 32);
  padding-left: 8px;
  padding-right: 8px;
}

.profile-error {
  color: rgb(157, 32, 32);
  font-size: 13px;
  text-align: center;
  width: 100%;
}

.icon-red-heavy {
  color: rgb(153, 65, 65);
  font-size: 20px;
}
.icon-red-medium {
  color: rgb(153, 65, 65);
  font-size: 20px;
}
.icon-red-light {
  color: rgb(222, 133, 133);
  font-size: 20px;
}

.icon-add-plus {
  color: rgb(119, 20, 20);
  font-size: 100px;
  padding: 26px;
  margin: 0;
  display: flex
  /* padding: 20px; */
  /* display: flex; */
}

.footer-icon {
  font-size: 30px;
  margin: 10px;
  display: inline;
  /* margin-bottom: 8px */
}

.profile-icon {
  color: rgb(244 243 243);
  font-size: 50px;
  justify-content: center;
}

.caret-icon-previous {
  display: inline-block;
  color: #b9b9b9;
  position: absolute;
  margin-left: -10px;
  margin-top: 1px;
  font-family: "poppins";
  font-size: 8px;
  text-transform: none;
  vertical-align: middle;
  /* line-height: 1.3; */
}


.caret-icon-next {
  display: inline-block;
  color:  #b9b9b9;
  position: absolute;
  margin-left: 14px;
  margin-top: 1px;
  font-family: "poppins";
  font-size: 8px;
  text-transform: none;
  vertical-align: middle;
  /* line-height: 1.3; */
}

.login {
  height: 50%;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
  overflow: hidden;
  /* padding: 20px; */
}

.login-container {
  align-items: center;
  text-align: center;
  /* width: 100%; */
}

.landingpage-container {
  width: 100%;
  display: inline-block;
  text-align: center;
  align-items: center;
  /* margin-bottom: 200px */
}

.landingpage-card {
  margin-top: 80px;
  margin-bottom: 100px;
  width: 65%;
  display: inline-block;
  padding: 20px;
}

.account-page-container {
  width: 100%;
  display: inline-block;
  text-align: center;

}

.account-page-card {
  /* margin-top: 20px;
  margin-bottom: 80px; */
  margin: auto;
  margin-bottom: 30px;
  width: 65%;
  display: inline-block;
  overflow: hidden;
}

.account-card-content {
  width: 80%;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 50px;
  font-family: "poppins", sans-serif;
  font-size: 18px;
}

.account-field {
  display: inline-block;
  font-family: "poppins", sans-serif;
  width: 100%;
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 300;
}


.sign-up-button {
  background-color: rgb(111, 17, 17);
  border: gray;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  width: 100px;
}

.sign-up-button:hover {
  background-color: rgb(111, 17, 17);
  border: gray;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  width: 100px;
}

.login-button {
  background-color: rgb(111, 17, 17);
  border: gray;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
}

.login-button:focus {
  background-color: rgb(111, 17, 17);
  border: gray;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
}


.select-activity-button {
  width: 120px;
  height: 40px;  
  color: black;
  white-space: nowrap;
    background-color: rgb(217, 214, 214);
    border-style: none;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    margin: 5px;
    margin-bottom: 20px
  }
  
.select-activity-button:hover {
  width: 120px;
  height: 40px;  
  white-space: nowrap;
  color: black;
    background-color: rgb(207, 200, 200);
    border-style: none;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    margin: 5px;
    margin-bottom: 20px
  }

.select-period-button {
  width: 120px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  color: rgb(253, 253, 253);
  background-color: rgb(124, 33, 33);
  font-weight: 300;
  border-style: none;
  font-family: "montserrat", sans-serif;
  font-weight: light;
padding:0}

.select-period-button:hover {
  width: 120px;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
  border-style: none;
padding: 0}

/* .select-period-button {
  height: 40px;
  width: 110px;
  margin: auto;
  background-color:  #8a3636;
  border: gray;
  color: white;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  padding: 7px;
} */

.add-period-button {
  display: inherit;
  height: 40px;
  width: 150px;
  margin: auto;
  margin-bottom: 5px;
  background-color:  #8a3636;
  /* rgb(111, 17, 17);; */
  border: gray;
  color: white;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  padding: 7px;
}

.inconspicuous {
  font-family: "montserrat", sans-serif;
  background-color: none;
  font-weight: 300;
  font-size: 14px;
  border: none;
  color: rgb(151, 151, 151);
  margin-bottom: 10px;
}

.red1 {
  background-color: rgb(124, 33, 33);
  font-weight: 300;
}

.red1:hover {
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
}

.save-profile-button {
  color: white;
  
  width: 75px;
  height: 25px;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
  padding: 0;
  background-color: rgb(124, 33, 33);
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  display: inline-block;
  margin-top: 28px
}

.save-profile-button:hover {
  font-weight: 500;
  color: rgb(253, 253, 253);
  background-color: rgb(198, 123, 123);
  width: 75px;
  height: 25px;
  font-size: 14px;
  align-items: center;
  white-space: nowrap;
  text-align: center;
  font-family: "montserrat", sans-serif;
  display: inline-block;
  margin-top: 28px
}


.red-text {
  color: rgb(192 100 100);
  margin-top: -8px;
  font-weight: 500
}

.inconspicuous.red-text:hover {
  color: rgb(230, 142, 142);
  font-weight: 500;
}

.grey-text {
  color: rgb(58, 58, 58);
}

.grey1 {
  background-color: rgb(156, 152, 152);
  font-weight: 300;
  color: white;
  margin-right: 20px;
  margin-bottom: 10px;
}

.black {
  background-color: #000000;
  color: white;
  font-weight: 300;
  width: 100%;
}

#landing-messages {
  /* margin: 40px; */
  margin-top: 50px;
}

#landing-message1 {
  margin-bottom: 7px;
  font-size: 22px;
  font-weight: 200;
}

#landing-message2 {
  font-size: 30px;
  font-weight: 500;
}

.signup-success-message {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.strava-connect-message1 {
  font-family: "poppins", sans-serif;
  font-weight: 00;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin-top: 20px;
}

.strava-connect-message2 {
  font-family: "poppins", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
}

.strava-connect-card {
  color: black;
  align-items: center;
  text-align: center;
  width: 450px;
  margin: auto;
  margin-top: 80px;
  padding: 20px;
  padding-top: 30px;
}

.connect-button {
  background-color: rgb(111, 17, 17);
  width: 100px;
  border: gray;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 15px;
  margin-top: 25px;
  margin-bottom: 8px;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.no-thanks {
  display: inline-block;
  width: 200px;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-top: 0;
  color: rgb(152, 152, 152);
  padding: 2px;
}

.no-thanks:hover {
  background-color: rgb(245, 244, 244);
  color: rgb(144, 144, 144);
  font-weight: 500;
  /* border: 1px solid rgb(216, 216, 216); */
}

.no-thanks-message {
  display: inline;
  font-family: "montserrat", sans-serif;
  margin-bottom: 0;
  color: rgb(124, 124, 124);
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}



.card-img-top {
  height: 250px;
}

.calendar {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-family: "avenir light", sans-serif;
  /* background-color: white; */
}

.container {
  width: 100%;
  display: flex;
  /* padding: 5px; */
}

.calendar-container {
  width: 100%;
  display: flex;
  padding-left: 18px;
  padding-right: 5px;
}

.calendar-header {
  height: 40px;
  width: 100%;
  font-weight: 500;
  font-family: "poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.calendar-title {
  margin-right: 30px;
  font-size: 40px;
}

.calendar-body {
  width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* .calendar-nav {
  font-family: "avenir light", sans-serif;
  font-weight: 300;
  width: 600px;
  overflow: scroll;
  display: inline-block;
} */

.weekdays-header {
  height: 30px;
  width: 877px;
  margin: 0;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  /* width: 100%; */
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #bb5454;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  vertical-align: middle;
  padding-top: 5px;
}

.weekday {
  width: 125px;
  height: 30px;
  text-align: center;

  color: white;
  border-right-style: solid;
  border-color: rgb(179, 100, 100);
  padding: 0;
}

.table-content {
  /* width: 100%; */
  width: 900px;
  overflow: scroll;
  display: inline-block;
  margin: 0;

  /* max-width:  */
  padding: 0;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: left;
  box-sizing: border-box;
  /* background-color: white; */
}

.calendar-day {
  font-family: "poppins";
  font-weight: 200;

  width: 125px;
  height: 85px;
  position: relative;
  justify-content: left;
  text-align: left;
  border: 0.5px solid #c6c6c6;
  padding: 5px;
  margin: 0;
  background-color: rgb(244, 243, 243);
}

.calendar-day:hover {
  background-color: rgb(235, 235, 235);
}

.calendar-day p {
  position: absolute;
  left: 0;
  text-align: center;
  top: 0;
  color: #d4d4d4;
  padding: 3px;
  margin: 0;
  height: 25px;
  width: 25px;
  border-style: none;
  background-color: rgb(250, 247, 247);
  box-shadow: 0 1px 8px rgba(153, 150, 150, 0.2);
}

.with-flow:hover {
  background-color: rgba(130, 36, 36, 0.124);
}

.calendar-activity {
  position: absolute;
  font-family: "poppins";
  font-weight: 200;
  font-size: 14px;
  line-height: 1.2;
  /* left: 0; */
  top: 24px;
  display: inline;
  text-align: left;
  color: #0b0b0b;
  padding: 3px;
  margin: 0;
}

.cal-mileage {
  font-size: 72%;
  color: rgb(61, 61, 61);
  font-family: "poppins";
  font-weight: 200;
  padding-top: 2px
}

/* .calendar-activity:hover {
  font-weight: 200;
} */

.calendar-activity:hover, .calendar-activity:hover .cal-mileage {
  font-weight: 300;
}

.calendar-day p.with-flow {
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(93, 47, 47);
  background-color: #d4d4d4;
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  border-style: none;
  background-color: rgb(228, 187, 187);
  box-shadow: 0 1px 8px rgba(153, 129, 129, 0.25);
}

.current p {
  color: #000000;
  justify-content: left;
  align-items: top;
}

.selected p {
  color: black;
  box-shadow: 0 1px 8px rgba(153, 150, 150, 0.35);
  background-color: rgb(232, 232, 232);
  font-family: "avenir";
  font-weight: bold;
}

/* .selected {
  background-color: rgb(237, 237, 237);
} */

.modal {
  /* left: 10;
  top: 10;
  right: 10;
  bottom: 10; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  
  /* border: 1px solid #ccc; */
  /* transition: 1.1s ease-out; */
  /* box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0); */
}

.choice-modal {
  text-align: center;
  padding: 27px;
  width: 310px;
  height: 180px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 8px 8px rgba(159, 158, 158, 0.25);
}

.close-choice {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  
}

.close-add-period {
  margin: auto;
  margin-top: -8px;
  margin-bottom: 20px;
  display: inherit
}

.close-activity-details {
  font-size: 12px;
  margin: auto;
  margin-top: -10px;
}

.close-period-details {
  font-size: 12px;
  margin: auto;
  margin-top: -10px;
}

.close-activity-details-button {
  font-size: 12px;
  margin: auto;
  margin-top: -10px;
  display: inline-block;
  margin-left: 58px;
}
.close-period-details-button {
  font-size: 12px;
  margin: auto;
  margin-top: -10px;
  display: inline-block;
  margin-left: 58px;
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 10px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid rgb(200, 88, 88);
  border-bottom: 1px solid rgb(200, 88, 88);
}

.cal-nav-button-previous {
  background-color: rgb(248, 234, 234);
  margin-left: 0px;
  color: #494848;
  font-weight: 300;
  font-size: 12px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  height: 25px;
  width: 80px;
  margin-right: 5px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  border: none;
  white-space: nowrap;
  vertical-align: center;
}
.cal-nav-button-next {
  background-color: rgb(248, 234, 234);
  margin-left: 10px;
  color: #494848;
  font-weight: 300;
  font-size: 12px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  height: 25px;
  width: 80px;
  margin-right: 5px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  border: none;
  white-space: nowrap;
  vertical-align: center;
}

.cal-nav-button-next:hover {
  background-color: rgb(212, 212, 212);
  color: black;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.cal-nav-button-previous:hover {
  background-color: rgb(212, 212, 212);
  color: black;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.button-container{
  text-align: end;
  padding-top: 10px;
  padding-right: 10px;
  background-color: #ededed;

}

.all-activities-nav-button-previous {
  background-color: rgb(208, 208, 208);
  margin-left: 0px;
  color: #494848;
  font-weight: 300;
  font-size: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  height: 20px;
  width: 70px;
  margin-right: 5px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  border: none;
  white-space: nowrap;
  vertical-align: center;
}
.all-activities-nav-button-next {
  background-color: rgb(208, 208, 208);
  margin-left: 0px;
  color: #494848;
  font-weight: 300;
  font-size: 10px;
  font-family: "montserrat", sans-serif;
  font-weight: light;
  height: 20px;
  width: 70px;
  margin-right: 5px;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  border: none;
  white-space: nowrap;
  vertical-align: center;
}

.all-activities-nav-button-next:hover {
  background-color: rgb(212, 212, 212);
  color: black;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.all-activities-nav-button-previous:hover {
  background-color: rgb(212, 212, 212);
  color: black;
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.all-activities-nav-button-previous:focus, .all-activities-nav-button-next:focus, .cal-nav-button-next:focus, .cal-nav-button-next:focus{
  outline: none;
}


.dropdown {
  position: relative;
  display: inline-block;
  background-color: none;
  position: absolute;
  display: inline-block;
  right: 30px;
  top: -8px;
}

.dropdown-btn {
  background-color: black;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  color: black;
  background-color:  rgb(248, 234, 234);;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* z-index: 1; */
  /* width: 120%;
  height: 70px; */
  text-align: right;
  padding: 0;
  border-radius: 10px;
}

.dropdown-item {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: black;
  /* padding: 5px; */
  text-decoration: none;
  /* width: 100%; */
  /* height: 50%; */
  margin: 0;
  vertical-align: middle;
  padding-right: 10px;
  padding-top: 7px;
}

.dropdown-item:hover {
  background:  rgb(233, 178, 178);;
  font-weight: 500;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* float: left; */
}


.activity-table-container {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  box-shadow: 0 1px 8px rgba(153, 150, 150, 0.25);
  background-color: white;
  border-radius: 4px;
}

.activity-table {
  width: 100%;
  margin: auto;
  display: inline;
  border-spacing: 20px;
  border-collapse:separate; 
  text-align: left;
}


.activity-row {
  padding: 10px;
  padding-left: 20px;
  /* padding-top: 25px; */
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  white-space: nowrap;
  width: 100%;
  display: flex;
  border-bottom: 1px dashed #e3e3e3;
  cursor: pointer
}

.period-row {
  padding-top: 14px;
  padding-left: 20px;
  /* padding-top:  */
  font-family: "poppins", sans-serif;
  font-size: 15px;
  font-weight: 200;
  white-space: nowrap;
  width: 100%;
  display: flex;
  border-bottom: 1px dashed #e3e3e3;
  cursor: pointer
}

.activity-header-row {
  font-family: "poppins", sans-serif;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /* font-weight: 300; */
  font-size: 15px;
  margin: 0;
  padding: 0;
  white-space: wrap;
  border-bottom: 1px solid rgb(169, 164, 164);
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  background-color: #bb5454;
  color: white
}

th {
  font-weight: 300;
}

th.activity-cell-notes, th.activity-cell-sufferscore{
  font-weight: 300;
  text-align: center;
}

.activity-cell-date {
  width: 18%;
  display: inline-block
}

.activity-cell-name {
  width: 30%;
  font-weight: 300;
  display: inline-block;
  cursor: pointer
}

td.activity-cell-name {
  width: 30%;
  white-space: wrap;
  font-weight: 300;
  /* color: rgb(172, 114, 114); */
  display: inline-block;
  cursor: pointer;
  text-decoration: underline dotted rgb(195, 195, 195)
}

.activity-cell-type {
  width: 10%;
  display: inline-block;
  text-align: left;
}

.activity-cell-distance {
  width: 14%;
  display: inline-block;
  /* margin-right: -12px */
}

.activity-cell-duration {
  width: 12%;
  display: inline-block;
  /* margin-right: -12px */
}

.activity-cell-notes {
  width: 12%;
  display: inline-block;
  text-align: left;
}

td.activity-cell-notes {
  width: 12%;
  display: inline-block;
  text-align: left;
  font-size: 12px;
}

/* .activity-cell-sufferscore {
  width: 15%;
  display: inline-block;
  text-align: left;
} */
.activity-cell-sufferscore {
  width: 10%;
  display: inline-block;
  text-align: center;
}

th.activity-cell-sufferscore{
  font-weight: 300;
  text-align: center;
  white-space: normal;
  line-height: 1.2;
  margin-top: -8px
}

th.activity-cell-notes {
  text-align: center;
}

.period-cell-date {
  width: 30%;
  display: inline-block
}

.period-cell-flow {
  width: 30%;
  font-weight: 300;
  display: inline-block;
  cursor: pointer
}

td.period-cell-flow {
  width: 30%;
  white-space: wrap;
  font-weight: 300;
  /* color: rgb(172, 114, 114); */
  display: inline-block;
  cursor: pointer;
  text-decoration: underline dotted rgb(195, 195, 195)
}

.period-cell-sx {
  width: 20%;
  display: inline-block;
  text-align: left;
}

.period-cell-notes {
  width: 30%;
  display: inline-block;
  text-align: center;
}

td.period-cell-notes {
  width: 30%;
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  font-size: 12px;
  white-space: wrap;
}

.bolder {
  font-weight: 700
}




/* .dropbtn:hover,
.dropdown-content:focus-within {
  background: red;
  cursor: pointer;
}

.dropbtn:focus-within .dropdown-content {
  outline: none;
}

.dropdown-content {
  background: orange;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: relative;
  transition: all 0.5s ease;
  margin-top: 10px;
  left: 0;
  display: none;
}

.dropbtn:hover > .dropdown-content,
.dropbtnt:focus-within > .dropdown-content,
.dropdown-content:hover,
.dropdown-item:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdown-item {
  clear: both;
  width: 100%;
} */
