{% extends 'index.html' %} {% block content %}
<p>{{welcome_msg}}</p>
<!-- {% if activities %} -->
<!-- <!-- <h2>Activities</h2> -->
<Home />
<!-- <Activities /> -->
<!-- <ul>
  {% for activity in activities %}
  <li>{{activity.activity_date}}</li>
  <ul>
    <li>{{activity.activity_name}}</li>
    <li>Distance: {{activity.distance}}</li>
    <li>Duration: {{activity.duration}}</li>
    <li>Suffer score: {{activity.suffer_score}}</li>
  </ul>
  {% endfor %} -->
</ul>
<!-- {% endif %} {% endblock %} -->
